<div
  class="overflow-y-hidden h-screen flex items-center justify-center bg-gray-100 px-4 sm:px-6 lg:px-8"
>
  <form
    [formGroup]="myFormLogin"
    class="flex flex-col gap-4 w-full max-w-md bg-white p-8 rounded-2xl shadow-lg border border-gray-300"
  >
    <h2 class="text-3xl font-bold text-center text-gray-800">Login</h2>

    <!-- <input
      class="text-base border-2 w-full p-3 border-gray-400 rounded-lg focus:border-green-500 focus:ring-1 focus:ring-green-500 transition"
      type="text"
      placeholder="User name"
      formControlName="name"
    /> -->

    <!-- @if (showMessageError("name")) {
      @if (isvalidField("name")) {
        <span class="form-text text-amber-700">
          {{ getFieldError("name") }}
        </span>
      }
    } -->

    <input
      class="text-base border-2 w-full p-3 border-gray-400 rounded-lg focus:border-green-500 focus:ring-1 focus:ring-green-500 transition"
      type="email"
      placeholder="email"
      formControlName="email"
    />

    <!-- @if (showMessageError("email")) {
      @if (isvalidField("email")) {
        <span class="form-text text-amber-700">
          {{ getFieldError("email") }}
        </span>
      }
    } -->

    <input
      class="text-base border-2 w-full p-3 border-gray-400 rounded-lg focus:border-green-500 focus:ring-1 focus:ring-green-500 transition"
      type="password"
      placeholder="Password"
      formControlName="password"
    />

    <!-- @if (showMessageError("password")) {
      @if (isvalidField("password")) {
        <span class="form-text text-amber-700">
          {{ getFieldError("password") }}
        </span>
      }
    } -->

    <button
      (click)="login()"
      class="w-full py-3 mt-2 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition"
    >
      Log In
    </button>

     <button
      (click)="singUp()"
      class="w-full py-3 mt-2 bg-green-600 hover:bg-green-700 text-white font-semibold rounded-lg transition"
    >
      Sign Up
    </button>
  </form>
</div>
