<div
  class="overflow-y-hidden h-screen flex items-center justify-center bg-gray-100 px-4 sm:px-6 lg:px-8"
>
  <form
    class="flex flex-col gap-4 w-full max-w-md bg-white p-8 rounded-2xl shadow-lg border border-gray-300"
    [formGroup]="myForm"
  >
    <h2 class="text-3xl font-bold text-center text-gray-800">Inventory</h2>

    <input
      class="text-base border-2 w-full p-3 border-gray-400 rounded-lg focus:border-green-500 focus:ring-1 focus:ring-green-500 transition"
      type="text"
      placeholder="User name"
      formControlName="name"
    />

    @if (showMessageError("name")) {
      @if (isvalidField("name")) {
        <span class="form-text text-amber-700">
          {{ getFieldError("name") }}
        </span>
      }
    }

    <input
      class="text-base border-2 w-full p-3 border-gray-400 rounded-lg focus:border-green-500 focus:ring-1 focus:ring-green-500 transition"
      type="email"
      placeholder="email"
      formControlName="email"
    />

    @if (showMessageError("email")) {
      @if (isvalidField("email")) {
        <span class="form-text text-amber-700">
          {{ getFieldError("email") }}
        </span>
      }
    }

    <input
      class="text-base border-2 w-full p-3 border-gray-400 rounded-lg focus:border-green-500 focus:ring-1 focus:ring-green-500 transition"
      type="password"
      placeholder="Password"
      formControlName="password"
    />

    @if (showMessageError("password")) {
      @if (isvalidField("password")) {
        <span class="form-text text-amber-700">
          {{ getFieldError("password") }}
        </span>
      }
    }

     <input
      class="text-base border-2 w-full p-3 border-gray-400 rounded-lg focus:border-green-500 focus:ring-1 focus:ring-green-500 transition"
      type="text"
      placeholder="Company Name"
      formControlName="companyName"
    />
    @if (showMessageError("companyName")) {
      @if (isvalidField("companyName")) {
        <span class="form-text text-amber-700">
          {{ getFieldError("companyName") }}
        </span>
      }
    }

    <button
      (click)="onSubmit()"
      class="w-full py-3 mt-2 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition"
    >
      Sign In
    </button>

    <button
      (click)="navigateToLogIn()"
      class="w-full py-3 mt-2 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg transition"
    >
      Log In
    </button>
  </form>
</div>
<!-- --------------------------------------- -->
<div class="row">
  <div class="col">
    <span>pristine</span>
    <pre> {{ myForm.controls["name"].pristine | json }} </pre>
    <pre> {{ myForm.controls["email"].pristine | json }} </pre>
    <pre> {{ myForm.controls["password"].pristine | json }} </pre>

    <span>Name</span>
    <pre> {{ myForm.controls["name"].value | json }} </pre>

    <span>Name Errors</span>
    <pre> {{ myForm.controls["name"].errors | json }} </pre>

    <span>email</span>
    <pre> {{ myForm.controls["email"].value | json }} </pre>

    <span>Email Errors</span>
    <pre> {{ myForm.controls["email"].errors | json }} </pre>
  </div>
</div>
